/* -------------------------------------
	Typography
------------------------------------- */

h1, h2, h3, h4, h5, h6, p, ul, li, span, strong, em{
    font-family: 'Lora', serif;
}

h1{
    font-family: 'Quicksand', sans-serif;
}
h2{}
h3{}
h4{}
h5{}
h6{}

p{
    text-align: center;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

ol{}
li{
    margin: 0;
}
blockquote{}

/* -------------------------------------
Base
------------------------------------- */
html{}
body{
    background-color: darkolivegreen;
    color: blanchedalmond;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=2093), auto;
}

a{}
img{}

/* -------------------------------------
Same elements
------------------------------------- */
.none{}
.flex{}
.cta{}


#answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 4px 16px;
}
#answers button{
    width: 100%;
    line-height: 200%;
    background-color: blanchedalmond;
}

#controls{
    display: flex;
    justify-content: space-evenly;
    padding: 1% 20%;
}

button:hover{
    /*cursor: url(http://www.rw-designer.com/cursor-extern.php?id=57363);*/
    /* button html has dif behavior - make it a div if you want the hover to have the image */
    /* override it? SOLVE IT IN A JS WAY */
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 255, .2);;
}


.decorative{
    position: relative;
    max-width: 100%;
    z-index: -1;
    /* background: hsl(120, 44%, 26%) */
}

.top{
    background: linear-gradient( rgba(0, 0, 0, 0.4),hsl(120, 44%, 26%));
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

#title{
    /* position: relative;
    bottom:80px; */
    text-align: right;
    text-shadow: 0 0 13px #dff32c, 0 0 5px #0000FF;
}


.trivia{
    position:absolute;
    top: 150px;
    left: 150px;
    /* Is there a way to put it in bottom right without media queries? */
}

/* -------------------------------------
Header & Footer
------------------------------------- */
header{}
nav{}
nav ul{}
nav li{}
.logo{}

footer{}
footer a{}
.social{}

/* -------------------------------------
Section - General styles
------------------------------------- */
section{}
article{}

/* -------------------------------------
Section - Details
------------------------------------- */
#specific__section{}

/* -------------------------------------
Media Queries 
------------------------------------- */

/* make it look nice bigger too  */

@media only screen and (min-width: 700px) {
    /* .top{
        display: flex;
        justify-content: center;        
    } */
  }