/* -------------------------------------
    Typography
------------------------------------- */


h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
strong,
em {
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}

h2 {
}

h3 {}

h4 {}

h5 {}

h6 {}

#questions p{
    font-size: 24px;
}

p {
    text-align: center;
}

ul {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
}

ol {}

li {
    margin: 0;
}

blockquote {}

/* -------------------------------------
Base
------------------------------------- */
html {}

body {
    background-color: darkolivegreen;
    color: blanchedalmond;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=2093), auto;
}

a {}

img {}

/* -------------------------------------
Same elements
------------------------------------- */
.none {}

.flex {}

.cta {}

#answers {
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin: 4px 16px;
    font-weight: 600;
}


#answers button {
    width: 100%;
    line-height: 200%;
    background-color: blanchedalmond;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;

}

#answers button:hover {
    background-color: coral;
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
}


#controls {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    padding: 1% 20%;
}


#controls button {
    border-radius: 15px;
    width: 70%;
    line-height: 200%;
    background-color: rgb(181, 163, 125);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#controls button:hover {
    background-color: rgb(232, 209, 160);
    box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, .2);
}


.decorative {
    position: relative;
    max-width: 100%;
    z-index: -1;
    /* background: hsl(120, 44%, 26%) */
}

.top {
    background: linear-gradient(rgba(0, 0, 0, 0.4), hsl(120, 44%, 26%));
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

#title {
    /* position: relative;
    bottom:80px; */
    text-align: right;
    text-shadow: 0 0 13px #dff32c, 0 0 5px #0000FF;
}


.trivia {
    /*position: absolute;*/
    top: 15%;
    left: 25%;
    /* Is there a way to dp this without media queries? */
}


/* -------------------------------------
Header & Footer
------------------------------------- */
header {}

nav {}

nav ul {}

nav li {}

.logo {}

footer {}

footer a {}

.social {}

/* -------------------------------------
Section - General styles
------------------------------------- */
section {}

article {}

/* -------------------------------------
Section - Details
------------------------------------- */
#specific__section {}

/* -------------------------------------
Media Queries 
------------------------------------- */

.trivia {
    position: absolute;
    top: 25%;
    left: 30%;
}

@media only screen and (max-width: 400px) {
    #answers {
        column-gap: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin: 4px 16px;
    }
}

@media only screen and (max-width: 500px) {
    .trivia {
        position: relative;
        top: auto;
        left: auto;
    }
    #questions p{
        font-size: 20px;
    }
}


@media only screen and (min-width: 1400px) {
    .trivia {
        position: absolute;
        top: 10%;
        left: 30%;
    }
}



