/* -------------------------------------
	Typography
------------------------------------- */

h1, h2, h3, h4, h5, h6, p, ul, li, span, strong, em{
    font-family: 'Lora', serif;
}

h1{
    font-family: 'Quicksand', sans-serif;
}
h2{}
h3{}
h4{}
h5{}
h6{}

p{
    text-align: center;
}

ul{
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

ol{}
li{
    margin: 0;
}
blockquote{}

/* -------------------------------------
Base
------------------------------------- */
html{}
body{
    background-color: darkolivegreen;
    color: blanchedalmond;
}

a{}
img{}

/* -------------------------------------
Same elements
------------------------------------- */
.none{}
.flex{}
.cta{}


#answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
    margin: 4px 16px;
}
#answers button{
    width: 100%;
    line-height: 200%;
    background-color: blanchedalmond;
}

#controls{
    display: flex;
    justify-content: space-evenly;
    padding: 1% 20%;
}

.decorative{
    position: relative;
    max-width: 100%;
    z-index: -1;
    background: hsl(120, 44%, 26%)

}

.top{
    background: linear-gradient( rgba(0, 0, 0, 0.4),hsl(120, 44%, 26%));
}

#title{
    position: relative;
    bottom:80px;
}

/* -------------------------------------
Header & Footer
------------------------------------- */
header{}
nav{}
nav ul{}
nav li{}
.logo{}

footer{}
footer a{}
.social{}

/* -------------------------------------
Section - General styles
------------------------------------- */
section{}
article{}

/* -------------------------------------
Section - Details
------------------------------------- */
#specific__section{}

/* -------------------------------------
Media Queries 
------------------------------------- */